/*  #header {
    background-color: #886D75;
    position: absolute;
    left: 10px;
    top: 0px;
}

#nav {
    float: right;
    text-align: center
}

*/


<style>
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #6C7A6E
;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: white;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
</style>
</head>
<body>



 footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  .footer-icons {
    list-style-type: none;
    padding: 0;
  }
  .footer-icons li {
    display: inline-block;
    margin: 0 10px;
  }
  .footer-icons li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }


/*  .header {
    border: 2px solid black; 
  padding: 10px; 
  text-align: center; 
  padding: 2px;
  text-align: right;
  background: #45423f;
  color: white;
  font-size: 20px; 
}

*/


#idLinkedInIcon{
  background-color: rgb(0, 102, 170);
  border-radius: 50%;color:white;cursor:pointer;
  display:inline-block;
  font:bold 30px Arial, Helvetica, sans-serif;
  height: 40px;margin-top:1px;
  text-align: center;width:40px;}
#idLinkedInIcon:hover{background-color:#06d;}


body {
  font-family: "Raleway", sans-serif !important;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

h1 {
  color: #ff6363;
  font-weight: bold;
}

p {
  font-size: 20px;
  color: #484848;
}

.section {
  text-align: center;
}

.skillbar {
  cursor: pointer;
}

.hide {
  display: none;
}

.display {
  display: block;
}

/* flash alert styles */

.flash-container {
  width: 100%;
  position: fixed;
  z-index: 700;
  padding-top: 20px;
  font-weight: bold;
}

.alert {
  text-align: center !important;
  width: 500px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  color: #211809 !important;
}

/* Nav Screen */

.nav-screen {
  height: 100%;
  z-index: 500;
  position: fixed;
  background-color: #000;
  opacity: 1;
  right: -285px; /* start off behind the scenes */
  -webkit-font-smoothing: antialiased;
  position: fixed;
  width: 285px;
}

.nav-screen .active {
  display: block;
}

/* nav header links */

.nav-brand {
  position: fixed;
  left: 0;
  z-index: 400;
  padding: 10px;
  text-align: right;
}

.nav-brand img {
  width: 50px;
}

.fa-bars {
  display: none !important;
  color: #ff6363;
  float: right;
  padding: 20px;
  position: fixed;
  right: 0;
  z-index: 500;
  cursor: pointer;
}

.fa-times {
  color: #ff6363;
  float: right;
  padding: 20px;
  right: 0;
  z-index: 600;
  cursor: pointer;
}

.header-links {
  position: fixed;
  width: 100%;
  z-index: 500;
}

.header-links li {
  color: white;
  display: inline;
  float: right;
  padding: 15px;
  font-size: 20px;
}

.header-links a {
  color: #757575;
  -webkit-transition: all 0.2s ease-in;
}

.header-links a:hover {
  color: #ff6363 !important;
}

/* slide out nav menu styles */

.nav-container {
  padding-top: 10%;
}

.nav-links {
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-links ul {
  margin-top: 15%;
  text-align: center;
  padding-top: 10%;
}

.nav-links a {
  color: #ffffff;
  font-size: 30px;
  line-height: 2.5;
  font-weight: bold;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.nav-links a:hover {
  color: #ff6363;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

#fp-nav ul li .fp-tooltip {
  color: #5f5f5f !important;
}

/* Expanding border effect */

.header-links a::after {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  width: 0;
  height: 2px;
  background-color: #fff;
  content: "";
  opacity: 0;
  -webkit-transition: width 0.6s, opacity 0.8s;
  -moz-transition: width 0.6s, opacity 0.8s;
  transition: width 0.6s, opacity 0.8s;
}

.header-links a:hover::after,
.header-links a:focus::after {
  opacity: 1;
  width: 100%;
}

/* main header section */

.opaque-bg {
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;
  padding: 1px 1px 5px 5px;
}

.aboutme {
  background: url("https://s3-us-west-2.amazonaws.com/files.bradengelhardt.com/brad-bg-main.jpg")
    no-repeat;
  background-size: cover;
}

.aboutme p {
  color: white;
  font-weight: 100;
  font-size: 17.4px;
}

/* bouncing arrow */

.fa-chevron-down {
  color: #ff6363 !important;
  bottom: 10px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  -webkit-transition: 1.2s ease;
}

/* Scroll down indicator (bouncing) */

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/* about section */

/* Skill bars */

.container-skillbar {
  width: 100%;
  padding-top: 30px;
  padding-right: 2%;
  padding-left: 2%;
  height: auto;
  overflow: none;
}
.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #efefef;
  height: 30px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.15);
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 30px;
  width: 0px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.5);
}

/* portfolio section */

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.content-slide {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

